.main-profile-image {
    border-radius: 50%;
    max-width: 3em;
    max-height: 3em;
    cursor: pointer;
}

.shuffleText {
    font-size: 0.8em;
    cursor: pointer;
    color: gray;
}

.shuffleText:hover {
    text-decoration: underline;
    color: white;
}

.protectedSymbol {
    width: 1.5em;
    height: 1.5em;
    position: relative;
    max-width: 100%;
    display: inline-block;
    fill: white;
    transform: scale(0.6);
    cursor: pointer;
}