.accordion, .accordion-item .accordion-header, .accordion-button {
    background-color: rgb(158, 148, 148) !important;
    color: #000 !important;
    border-color: inherit !important;
}

.accordion-button:focus, .accordion-button:active  {
    box-shadow: none !important;
}


.form-control, .form-select {
    font-size: 0.85rem !important;
}

.form-text {
    font-size: 0.75em !important;
}