.standard-button {
    background: rgb(29, 155, 240) !important;
    border: 2px solid rgb(29, 155, 240) !important;
    border-radius: 3px;
    padding: 5px 10px;
    color: white;
}

.accordion-button {
    background-color: rgb(29, 155, 240) !important;
    color: white !important;
    font-weight: 500;
}

.form-check-input:checked {
    background-color: rgb(29, 155, 240) !important;
    border-color: rgb(29, 155, 240) !important;
}