.verified {
    max-width: 20px;
    max-height: 20px;
    margin-left: 5px;
    vertical-align: text-bottom;
    position: relative;
    height: 1.25em;
    display: inline-block;
    overflow: hidden;
}

.profile-image {
    border-radius: 50%;
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
}

.name-container {
    margin-left: 15px;
}

.displayName {
    font-weight: 700;
    cursor: pointer;
}

.username {
    color: grey;
    margin-top: -3px;
    cursor: pointer;
}

.tweetBody {
    cursor: pointer;
}

.tweetAction {
    width: 1.5em;
    height: 1.5em;
    vertical-align: text-bottom;
    position: relative;
    max-width: 100%;
    display: inline-block;
    fill: gray;
    transform: scale(0.8);
    cursor: pointer;
}

.actionText {
    cursor: pointer;
}

.retweetedText {
    color: #19cf86;
}
.actionRetweet {
    fill: #19cf86;
}

.likedText {
    color: #d51f81;
}
.actionFavourite {
    fill: #d51f81;
}

.bodyContainer {
    margin-left: 65px;
}